{% extends 'base.html' %}

{% block content %}
	<!-- Header-->
	<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
	    <div class="text-center text-white">
	        <h1 class="display-4 fw-bolder">About Us...</h1>
	        <p class="lead fw-normal text-white-50 mb-0">Welcome to our Website...</p>
	    </div>
	</div>
	</header>
	<div class="container">
		<div class="row">
			<center>
				<div class="col-8">
<br/><br/>
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu tortor est. Sed dignissim vestibulum rhoncus. Nam in sapien at nulla ornare pellentesque. Proin ut nunc et felis imperdiet malesuada id in lorem. Etiam in felis metus. Vivamus ipsum lorem, malesuada mollis mi vitae, porta maximus elit. Nulla felis nulla, placerat ac efficitur non, suscipit et velit. Praesent et velit vehicula, maximus est a, malesuada neque. Fusce consectetur nisl et risus sagittis lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque nec nisi egestas, gravida lacus sit amet, vehicula enim. Quisque ullamcorper diam ut metus semper, ut fringilla ante feugiat.
<br/><br/>
Morbi malesuada condimentum massa. Maecenas vel nulla velit. In hac habitasse platea dictumst. Aliquam placerat lacus et ex tempor mollis. Nulla varius quam sed nibh fringilla, in dapibus nisl volutpat. Quisque quis libero mauris. Fusce nec quam vel ipsum mollis varius. Proin gravida sed leo vel egestas. Maecenas sit amet velit dictum tellus accumsan iaculis. Praesent quis cursus mauris.
<br/><br/>
Proin quis aliquam tortor. Vestibulum eget fermentum urna. Cras quam sem, sollicitudin sit amet hendrerit eu, sagittis eu augue. Suspendisse sed aliquam est, ac dapibus lectus. Etiam in fringilla turpis, et bibendum arcu. Nam tempus erat quis ullamcorper suscipit. Proin tempor diam non sem laoreet, non vehicula lorem malesuada. Mauris eu tortor ut leo rhoncus sodales nec non magna. Pellentesque sed turpis a orci consequat interdum quis ut justo. Proin sed scelerisque justo.	
</p>
<br/><br/>
				</div>
			</center>
		</div>
	</div>
{% endblock %}